footer {
    height: 5%;
    width: 100vw;
    background-color: rgb(232, 193, 140);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 2vh;
}

.instagram-gradient {
    background: linear-gradient(45deg, #FFD700, #FF7E00, #E1306C, #833AB4, #405DE6);
    /* -webkit-background-clip: text;  */
    -webkit-text-fill-color: transparent;
}